<div class="container-fluid full-page-height bg-main centered-flex">
  <div class="login-box bg-white col-lg-3 col-sm-8 col-xs-11 center-text">
    <div class="app-form row">
      <span class="block route-header-text">{{ action }}</span>
      <span class="login-title">
        Please enter your login new credentials
      </span>
    </div>

    <form [formGroup]="appForm" (ngSubmit)="submitForm()">
      <div class="app-form-row">
        <input
          type="password"
          placeholder="Password"
          class="input-text"
          formControlName="password"
        />
      </div>
      <div class="app-form-row">
        <input
          type="password"
          placeholder="Confirm Password"
          class="input-text"
          formControlName="confirmPassword"
        />
      </div>
      <div class="app-form-row" style="text-align: center;" *ngIf="hasError">
        <span class="block error-text">{{ errorMessage }}</span>
      </div>
      <div class="app-form-row">
        <button
          class="app-button bg-dark-green text-white uppercase full-width"
          type="submit"
          [ngClass]="{ 'anim-button': loading }"
        >
          {{ action }}
        </button>
      </div>
    </form>

    <div class="app-form-row">
      <span class="subtitle"
        >want to go back?
        <span class="link bold" [routerLink]="['']">click here</span>
      </span>
    </div>
  </div>
</div>
