<div class="container-fluid full-page-height bg-main centered-flex">
  <div class="login-box bg-white col-lg-3 col-sm-8 col-xs-11 center-text">
    <div class="app-form row">
      <span class="login-title">
        Please enter your email address to recover your password
      </span>
    </div>
    <div class="app-form-row">
      <input type="text" placeholder="Email address" class="input-text" />
    </div>

    <div class="app-form-row">
      <button class="app-button full-width text-white bg-main">
        Recover account
      </button>
    </div>
    <div class="app-form-row">
      <span class="subtitle"
        >want to go back?
        <span class="link bold" [routerLink]="['']">click here</span>
      </span>
    </div>
  </div>
</div>
