<div class="container-fluid top-padding">
  <div class="three-column-grid enclosing-margin auto-grid-height">
    <div>
      <span class="notice-heading">Department Details</span>

      <div></div>
    </div>

    <!-- Department Head  -->

    <div>
      <div>
        <span class="login-text">Department head</span>
        <button
          class="app-button bg-main text-white"
          (click)="openStaffSelect()"
        >
          Set up Department Head
        </button>
        <div></div>
      </div>
    </div>
    <!-- Available Unit  -->

    <!-- <div>
      <span class="login-text">Units</span>
      <button
        class="app-button bg-main text-white"
        (click)="openDepartmentSelect()"
      >
        Add New Unit
      </button>
      <div></div>
    </div> -->
  </div>
</div>
