@import "colors";
@import "animations";

.full-page-height {
  min-height: 100vh;
}
.full-width {
  width: 100%;
}

.link,
.pointer {
  cursor: pointer;
}

.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

.clear {
  clear: both;
}
.simple-flex {
  display: flex;
  align-items: center;
}
.centered-flex {
  @extend .simple-flex;
  justify-content: center;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.top-padding {
  padding-top: 1.5rem;
}

.vert-padding {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.vertical-padding-bottom {
  padding: 5px 0 25px 0;
}

.link-up {
  cursor: pointer;
}

.app-form-row {
  box-sizing: border-box;
  padding: 5px 0;
  position: relative;
}

.app-button {
  // width: 100%;
  // padding: 10px 10px;
  // cursor: pointer;
  // border: 0;
  // margin: 0;

  display: block;
  overflow: hidden;
  border: none;
  position: relative;
  border-radius: 4px;
  padding: 11px 50px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  font-family: "Montserrat";
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.app-button:hover {
  &.bg-dark-blue {
    background-color: darken($color: $darkBlue, $amount: 10);
  }
  &.bg-main {
    background-color: lighten($color: $main, $amount: 20);
  }
}

.input-text {
  display: block;
  font-size: 1rem;
  padding: 11px 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  // padding: 10px 10px;
  // border-width: 0.03px;
  border: 0.03px solid #e3e3e3;
  transition: all 0.3s ease-in-out;
}
.input-text:focus {
  border: 0.03px solid $main;
}

.login-box {
  box-sizing: border-box;
  border-radius: 0.3rem;
  padding: 2rem 1.5rem;
}

@keyframes buttonSlideAnimation {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(0.25);
  }
  50% {
    transform: scaleX(0.5);
  }
  75% {
    transform: scaleX(0.75);
  }
  100% {
    transform: scaleX(1);
  }
}

.anim-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #3f9b42;

  overflow: hidden;
  z-index: -1;
  transform: scaleX(0);
  animation-name: buttonSlideAnimation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  transform-origin: left;
}

.load-hide {
  opacity: 0;
}

.status-pill {
  display: inline;
  border-radius: 0.2rem;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-weight: 500;
}

.status-true {
  background-color: $lightGreen;
}

.status-false {
  background-color: $errorRed;
}

.category-box {
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 1rem;
  cursor: pointer;
  @include appTransition();
}

.category-box:hover {
  box-shadow: 0 0 20px 0 #5e5e5e22;
}
.card-main {
  font-weight: bold;
  color: $lightGreenText;
}

.overview-box {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 0 rgba($color: #000000, $alpha: 0.04);
  margin-bottom: 30px;
  position: relative;
  .overview-icon {
    font-size: 5rem;
    font-weight: 300;
    opacity: 0.1;
    position: absolute;
    top: 50px;
    z-index: 0;
  }
}

.two-column-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.three-column-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.three-column-grid-nogap {
  display: grid;
  gap: 0px;
  grid-template-columns: repeat(3, 1fr);
}

div.three-grid div:nth-child(2) {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.three-grid {
  div {
    box-sizing: border-box;
    padding: 2rem 0;
  }
}

div.overview-content div.overview-list-box {
  border-bottom: 1px solid #e3e3e3;
  padding: 0.5rem 1rem;
}

div.overview-content div.overview-list-box:last-child {
  border-bottom: 0;
}

.overview-list-box {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.overview-list-box:hover {
  background-color: #0a223919;
}

.table-filter-grid {
  display: grid;
  grid-template-columns: auto 300px 250px;
  gap: 20px;
}

.route-box {
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 0 0 30px 0 rgba($color: #000000, $alpha: 0.05);
}

.object-page-two-column-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 20px;
}

.adjacent-item-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 30px;
}
.adjacent-item-grid-4 {
  @extend .adjacent-item-grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.adjacent-item-grid-1 {
  @extend .adjacent-item-grid;
  grid-template-columns: 1fr;
}

.user-pill {
  background-color: #faf6ff;
  max-width: 300px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 30px 200px 30px;
  // align-items: center;
  gap: 10px;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin-bottom: 20px;
  border: 1px solid #16043074;
  div.holder {
    height: 30px;
    display: flex;
    align-items: center;
  }
}

.staff-meet-container {
  height: 400px;
}

.empty-container {
  height: 100%;
  width: 100%;
  @extend .centered-flex;
}

.effect-overflow {
  overflow: hidden;
}

.text-fade {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.ellipse-overflow {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

//.text-fade {
// position: relative;
// height: 4.2rem; /* exactly three lines */
//}
// .text-fade:after {
//   content: "";
//   text-align: right;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   width: 70%;
//   height: 1.2em;
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 0),
//     rgba(255, 255, 255, 1) 50%
//   );
// }

.left-border-vertical {
  border-left: 1px solid #89898942;
}
.right-border-vertical {
  border-right: 1px solid #89898942;
}
.notice-box {
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid #16043074;
  box-shadow: 0 0 20px 0 #16043023;
  transition: all 0.3s ease-in-out;
  background-color: #faf6ff;
}
.notice-box:hover {
  box-shadow: 0 0 20px 0 #16043030;
}
.addition-box {
  box-sizing: border-box;
  padding: 2rem;

  border-radius: 0.4rem;
  border: 1px dashed #16043074;
  // box-shadow: 0 0 20px 0 #16043023;
  transition: all 0.3s ease-in-out;
  background-color: #faf6ff;
}

.addition-box:hover {
  // box-shadow: 0 0 20px 0 #16043030;
  border: 1px dashed #26065274;
  background-color: #ede3fa;
}

.table-pill {
  box-sizing: border-box;
  padding: 1rem 2rem;
  height: 40px;
  line-height: 0.7rem;
  border-radius: 4px;
  margin-right: 8rem;
  border-radius: 20px;
  text-align: left;
  &.bg-pill-green {
    border: 1px solid #6cfa6e;
    background-color: #adffaf;
    color: #094b0b;
  }
  &.bg-pill-false {
    border: 1px solid #f26531;
    background-color: #ffb398;
    color: #672913;
  }
  &.bg-pill-pending {
    border: 1px solid #faeb3c;
    background-color: #fff9bc;
    color: #635c0e;
  }
}

.overview-notice {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;
  border-bottom: 1px solid #eeeeee;
  padding: 0.6rem 0;
  cursor: pointer;
}

.overview-notice:last-of-type {
  border-bottom: 0;
}

.route-page-grid {
  display: grid;
  grid-template-columns: 150px auto;
}

.object-nav {
  z-index: 20;
  .object-nav-list-item {
    display: block;
    padding: 2rem 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    border-left: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    .nav-text {
      font-weight: 700;
    }
  }
  .object-nav-list-item:hover {
    background-color: #ffffff;
    color: $main;
    box-shadow: -20px 0 30px 0 rgba($color: #000000, $alpha: 0.07);
  }
}

.nav-active {
  border-left: 5px solid $main;
  background-color: #ffffff;
  color: $main;
  box-shadow: -20px 0 30px 0 rgba($color: #000000, $alpha: 0.07);
}

.route-box-aux {
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: 20px 0 30px 0 rgba($color: #000000, $alpha: 0.07);
}

/** Start file upload container **/

.uploadfilecontainer {
  // background-image: url("../assets/images/undraw_add_file2_gvbb.svg");

  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 100%;
  // margin: 20px auto;
  border: 1px dashed #1c8adb;
  border-radius: 3px;
}

.uploadfilecontainer-sm {
  // background-image: url("../assets/images/undraw_add_file2_gvbb.svg");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 100px;
  width: 100%;
  // margin: 20px auto;
  border: 1px dashed #1c8adb;
  border-radius: 3px;
}
.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 3px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

.upload-bar {
  height: 10px;
  border-radius: 2px;

  background-color: $main;
}

/** end file upload container **/
