<div class="container-fluid memo-details">
  <div class="item-page-heading">
    <span class="item-heading-text">Memo Details</span>
  </div>
  <div>
    <div class="app-form-row">
      <span class="form-prompt block"> Memo Title</span>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit
      </span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block"> Memo Subject</span>
      <span>
        Lorem ipsum dolor
      </span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block"> Memo Asignee</span>
      <span>
        Lorem ipsum
      </span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block"> Memo Title</span>
      <span>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
        voluptates quo corporis quis enim, consequatur distinctio facilis
        similique alias dolorem esse, fuga quia nam ullam ipsa. Eos voluptatem
        repellendus, officiis quibusdam magni sapiente reprehenderit praesentium
        voluptatum vitae mollitia aut, impedit nobis totam eaque eveniet
        expedita nihil necessitatibus. Eveniet mollitia eos tempore ipsum dolor
        quia numquam ut, ea quaerat aspernatur, facere est nisi voluptatem modi
        nemo sed odio illum aut maiores. Doloremque numquam ex quam tempora
        nostrum, inventore a eum voluptate corrupti, rem similique, voluptatibus
        fugiat quo iusto. Molestias earum placeat cumque. Libero nobis facere
        quia molestias, cupiditate rem! Dolores quia perferendis voluptatum
        maxime dolore illo! Aut reprehenderit velit, accusamus illo ipsa ab
        natus adipisci error.
      </span>
    </div>
  </div>
</div>
