<div class="container-fluid overview-box bg-white">
  <i class="uil uil-exchange-alt overview-icon"></i>
  <div>
    <span class="overview-heading block">Transfers</span>
  </div>
  <div>
    <span class="pull-right right-text">
      <span class="block mega-number-text">14</span>
      <!-- <span class="form-prompt block">Total</span> -->
      <span class="clearfix"></span>
    </span>
    <span class="clearfix"></span>
  </div>
  <hr />
  <div class="two-column-grid">
    <div class="center-text">
      <span class="block mini-number-text">5</span>
      <span class="form-prompt block">Under Review</span>
    </div>
    <div class="center-text">
      <span class="block mini-number-text">7</span>
      <span class="form-prompt block">Approved</span>
    </div>
  </div>
</div>
