<div class="container-fluid">
  <div class="adjacent-item-grid">
    <div class="app-form-row">
      <span class="form-prompt block">First Name</span>
      <span class="data-text">{{ staff?.firstName }}</span>
    </div>

    <div class="app-form-row">
      <span class="form-prompt block">MIddle Name</span>
      <span class="data-text"></span>
    </div>

    <div class="app-form-row">
      <span class="form-prompt block">Last Name</span>
      <span class="data-text"></span>
    </div>

    <div class="app-form-row">
      <span class="form-prompt block">Phone Number</span>
      <span class="data-text"></span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block">Email address</span>
      <span class="data-text"></span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block">Zonal Command</span>
      <span class="data-text"></span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block">Department / unit</span>
      <span class="data-text"></span>
    </div>

    <span></span>
    <span></span>
    <span></span>
    <div class="app-form-row">
      <span class="form-prompt block">State of Orifin</span>
      <span class="data-text"></span>
    </div>
    <div class="app-form-row">
      <span class="form-prompt block">Lga Of origin</span>
      <span class="data-text"></span>
    </div>
  </div>
</div>
