<div class="container-fluid">
  <form [formGroup]="profileForm">
    <div>
      <button class="app-button text-white bg-main pull-right">
        Complete Update
      </button>
      <span class="clearfix"></span>
      <span>
        <hr />
        <span class="form-prompt block">Personal Information</span>
        <span class="block subtitle">Your personal details</span>
      </span>
    </div>

    <div class="adjacent-item-grid-4">
      <div class="app-form-row">
        <label for="" class="form-prompt">First Name</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Middle Name</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Last Name</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <!-- <label for="" class="form-prompt">First Name</label>
        <input type="text" class="input-text full-width" placeholder="" /> -->
      </div>

      <div class="app-form-row">
        <label for="" class="form-prompt">Nationality</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">State of Origin</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Local government of origin</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <!-- <label for="" class="form-prompt">First Name</label>
        <input type="text" class="input-text full-width" placeholder="" /> -->
      </div>
    </div>

    <div>
      <hr />
      <span class="form-prompt block">Contact Information</span>
      <span class="block subtitle">Your personal details</span>
    </div>
    <div class="adjacent-item-grid-4">
      <div class="app-form-row">
        <label for="" class="form-prompt">Phone number</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Email address</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Office address</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
      <div class="app-form-row">
        <label for="" class="form-prompt">Home address</label>
        <input type="text" class="input-text full-width" placeholder="" />
      </div>
    </div>
  </form>
</div>
