<nav [ngClass]="{ 'navbar-open': drawerOpen, navbar: !drawerOpen }">
  <div class="app-form-row"></div>
  <ul id="accordion" class="accordion">
    <li *ngFor="let menu of menus; let i = index" [class.active]="menu.active">
      <div class="menu" (click)="toggle(i)">
        <i [class]="menu.iconClass"></i>
        {{ menu.name }}
        <i class="fa fa-chevron-down"></i>
      </div>
      <ul
        class="submenu"
        #submenu
        [style.height.px]="menu.active ? submenu.scrollHeight : 0"
      >
        <li *ngFor="let submenu of menu.submenu">
          <a [href]="submenu.url">{{ submenu.name }}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<main
  class="bg-backdrop full-page-height router-bg"
  [ngClass]="{ 'main-content-open': drawerOpen, 'main-content': !drawerOpen }"
>
  <div class="container-fluid top-bar bg-white">
    <div class="">
      <i class="uil uil-list-ul link-up" (click)="toggleDrawer()"></i>
      &nbsp;
      <img src="assets/images/cropped-logo.jpg" alt="" srcset="" height="30" />
      <span class="pull-right profile-name link-up" *ngIf="authState?.loggedIn"
        ><span
          >{{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}
        </span>
        <span><i class="uil uil-user-circle profile-name"></i></span>
      </span>
    </div>
  </div>
  <div class="vert-padding router-padding">
    <router-outlet></router-outlet>
  </div>
</main>
