<div class="container-fluid">
  <div class="route-page-grid">
    <div class="page-nav">
      <ul class="object-nav">
        <li
          class="object-nav-list-item"
          [routerLink]="['biodata']"
          routerLinkActive="nav-active"
        >
          <span class="nav-text">Biodata</span>
        </li>
        <li
          class="object-nav-list-item"
          [routerLink]="['certificates']"
          routerLinkActive="nav-active"
        >
          <span class="nav-text">Certificates</span>
        </li>
      </ul>
    </div>
    <div class="route-box-aux bg-white">
      <div class="route-heading">
        <span class="route-header-text"
          >{{ staff?.firstName }} {{ staff?.lastName }}</span
        >
      </div>
      <div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
