<div class="modal-padding">
  <div>
    <span class="route-header-text">Select staff member</span>
    <span class="pull-right">
      <i class="uil uil-times-circle link-up" (click)="close()"></i>
    </span>
    <span class="clearfix"></span>
  </div>
  <div>
    <div class="app-form-row">
      <ng-select
        class="block"
        style="width: 40%;"
        placeholder="Select For staff member(s)"
        [multiple]="true"
        bindLabel="fullName"
        [items]="staff"
        (change)="onChange($event)"
      >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <div>
            <span> </span
            ><span [ngOptionHighlight]="search"
              >{{ item.firstName }} {{ item.lastName }}</span
            >
          </div>
          <small
            ><b>Command:</b> {{ item.currentZone?.zoneName }} |
            <b>Department:</b> {{ item.department?.departmentName }}</small
          >
        </ng-template>
      </ng-select>
    </div>
  </div>
  <div class="staff-meet-container">
    <div *ngIf="selectedStaff.length === 0" class="empty-container">
      <div class="center-text">
        <img src="assets/images/empty.svg" height="150" alt="" srcset="" />
        <span class="form-prompt block">Select Staff members</span>
      </div>
    </div>
    <div *ngIf="selectedStaff.length > 0">
      <div class="vert-padding adjacent-item-grid">
        <app-single-personnel
          *ngFor="let person of selectedStaff"
          [person]="person"
        ></app-single-personnel>
      </div>
    </div>
  </div>
</div>
