<div class="container-fluid">
  <div class="overview-two-column">
    <app-staff-overview></app-staff-overview>
    <!-- <app-notice-overview></app-notice-overview>
    <app-memo-overview></app-memo-overview> -->
    <app-event-overview></app-event-overview>
  </div>
  <div class="overview-four-column">
    <app-memo-overview></app-memo-overview>
    <app-leave-overview></app-leave-overview>
    <app-promotion-overview></app-promotion-overview>
    <app-transfer-overview></app-transfer-overview>
  </div>

  <div class="overview-three-column">
    <app-notice-overview></app-notice-overview>
    <app-upcoming-training-overview></app-upcoming-training-overview>
  </div>
</div>
