<nav [ngClass]="{ 'navbar-open': drawerOpen, navbar: !drawerOpen }">
  <div class="app-form-row"></div>

  <!-- Start Admin navigation -->

  <accordion
    [isAnimated]="true"
    [closeOthers]="true"
    *ngIf="loggedInUser.accountType != 'STAFF'"
  >
    <accordion-group>
      <button
        class="btn btn-link"
        accordion-heading
        type="button"
        [routerLink]="['/dashboard', '']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-dashboard"></i>
        <span class="nav-text">Dashboard</span>
      </button>
    </accordion-group>

    <accordion-group class="" *ngIf="adminContext === 'ADMINISTRATION'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-home"></i>

        <span class="nav-text">Administration</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['zonal-commands']"
            routerLinkActive="router-link-active"
          >
            <span>Zonal Commands</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['departments']"
            routerLinkActive="router-link-active"
          >
            <span>Departments / Units</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['memos']"
            routerLinkActive="router-link-active"
          >
            <span>Memos</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['reports']"
            routerLinkActive="router-link-active"
          >
            <span>Reports</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group *ngIf="adminContext === 'HUMAN_RESOURCES'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-briefcase-alt"></i>
        <span class="nav-text">Carreer</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['promotions']"
            routerLinkActive="router-link-active"
          >
            <span>Promotions</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['training']"
            routerLinkActive="router-link-active"
          >
            <span>Training</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['postings']"
            routerLinkActive="router-link-active"
          >
            <span>Postings</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['transfers']"
            routerLinkActive="router-link-active"
          >
            <span>Transfers</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group *ngIf="adminContext === 'HUMAN_RESOURCES'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-calendar-slash"></i>
        <span class="nav-text">Leave Management</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['leaves', 'requests']"
            routerLinkActive="router-link-active"
          >
            <span>Leave Requests</span>
          </li>

          <li
            class="sub-list-item"
            [routerLink]="['leaves', 'types']"
            routerLinkActive="router-link-active"
          >
            <span>Leave Types</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group *ngIf="adminContext === 'OPERATIONS'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-building"></i>
        <span class="nav-text">Activity</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['meetings']"
            routerLinkActive="router-link-active"
          >
            <span>Meetings</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['notices']"
            routerLinkActive="router-link-active"
          >
            <span>Notices</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['events']"
            routerLinkActive="router-link-active"
          >
            <span>Events</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['calendar']"
            routerLinkActive="router-link-active"
          >
            <span>Calendar</span>
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group class="" *ngIf="adminContext === 'HUMAN_RESOURCES'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-invoice"></i>
        <span class="nav-text">Staff Members</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['staff']"
            routerLinkActive="router-link-active"
          >
            <span>Staff list</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['staff', 'settings']"
            routerLinkActive="router-link-active"
          >
            <span>Staff settings</span>
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group *ngIf="adminContext === 'OPERATIONS'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-user-square"></i>
        <span class="nav-text">Users</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['users']"
            routerLinkActive="router-link-active"
          >
            <span>User Accounts</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group *ngIf="adminContext === 'OPERATIONS'">
      <button
        class="btn btn-link"
        accordion-heading
        type="button"
        [routerLink]="['settings/organization']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-sliders-v-alt"></i>
        <span class="nav-text">Settings</span>
      </button>
    </accordion-group>
    <accordion-group>
      <button
        class="btn btn-link"
        accordion-heading
        type="button"
        [routerLink]="['/dashboard', 'profile']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-user-square"></i>
        <span class="nav-text">My Profile</span>
      </button>
    </accordion-group>
  </accordion>

  <!-- End admin navigation -->

  <!-- Start staff navigation -->

  <accordion
    [isAnimated]="true"
    [closeOthers]="true"
    *ngIf="loggedInUser.accountType === 'STAFF'"
  >
    <accordion-group>
      <button
        class="btn btn-link"
        accordion-heading
        type="button"
        [routerLink]="['/dashboard']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-dashboard"></i>
        <span class="nav-text">Dashboard</span>
      </button>
    </accordion-group>

    <accordion-group class="" *ngIf="adminContext === 'ADMINISTRATION'">
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-home"></i> Administration
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['memos']"
            routerLinkActive="router-link-active"
          >
            <span>Memos</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['reports']"
            routerLinkActive="router-link-active"
          >
            <span>Reports</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-briefcase-alt"></i>
        <span class="nav-text">Carreer</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['promotions']"
            routerLinkActive="router-link-active"
          >
            <span>Promotions</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['training']"
            routerLinkActive="router-link-active"
          >
            <span>Training</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['postings']"
            routerLinkActive="router-link-active"
          >
            <span>Postings</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['transfers']"
            routerLinkActive="router-link-active"
          >
            <span>Transfers</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-calendar-slash"></i>
        <span class="nav-text">Leave Management</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['leaves', 'requests']"
            routerLinkActive="router-link-active"
          >
            <span>Leave Requests</span>
          </li>
        </ul>
      </div>
    </accordion-group>
    <accordion-group>
      <button class="btn btn-link" accordion-heading type="button">
        <i class="uil uil-building"></i>
        <span class="nav-text">Activity</span>
      </button>

      <div class="sub-menu">
        <ul class="sub-list">
          <li
            class="sub-list-item"
            [routerLink]="['meetings']"
            routerLinkActive="router-link-active"
          >
            <span>Meetings</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['notices']"
            routerLinkActive="router-link-active"
          >
            <span>Notices</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['events']"
            routerLinkActive="router-link-active"
          >
            <span>Events</span>
          </li>
          <li
            class="sub-list-item"
            [routerLink]="['calendar']"
            routerLinkActive="router-link-active"
          >
            <span>Calendar</span>
          </li>
        </ul>
      </div>
    </accordion-group>

    <accordion-group>
      <button
        class="btn btn-link"
        accordion-heading
        type="button"
        [routerLink]="['/dashboard', 'profile']"
        routerLinkActive="router-link-active"
      >
        <i class="uil uil-user-square"></i>
        <span class="nav-text">My Profile</span>
      </button>
    </accordion-group>
  </accordion>

  <!-- End staff navigation -->
</nav>
<main
  class="bg-backdrop full-page-height router-bg"
  [ngClass]="{ 'main-content-open': drawerOpen, 'main-content': !drawerOpen }"
>
  <div class="container-fluid top-bar bg-white">
    <div class="">
      <i class="uil uil-list-ul link-up" (click)="toggleDrawer()"></i>
      &nbsp;

      <span class="" *ngIf="loggedInUser.accountType != 'STAFF'">
        {{ adminContext }}
        <i
          class="uil uil-angle-double-down link-up"
          [matMenuTriggerFor]="userMenu"
        ></i>
        <mat-menu #userMenu="matMenu" xPosition="before">
          <span mat-menu-item (click)="changeContext('ADMINISTRATION')">
            Administration
          </span>
          <span mat-menu-item (click)="changeContext('HUMAN_RESOURCES')">
            Human Resources
          </span>
          <span mat-menu-item (click)="changeContext('OPERATIONS')">
            Operations
          </span>
        </mat-menu>
      </span>
      <span
        class="pull-right profile-name link-up text-main"
        *ngIf="authState?.loggedIn"
        ><span
          >{{ loggedInUser?.firstName }} {{ loggedInUser?.lastName }}
        </span>
        <span
          ><i
            class="uil uil-user-circle profile-name text-main"
            [matMenuTriggerFor]="profileMenu"
          ></i
        ></span>
        <mat-menu #profileMenu="matMenu" xPosition="before">
          <span mat-menu-item [routerLink]="['/dashboard', 'profile']">
            My Profile
          </span>
          <span mat-menu-item (click)="logOut()">
            Log Out
          </span>
        </mat-menu>
      </span>
    </div>
  </div>
  <div class="vert-padding router-padding">
    <router-outlet></router-outlet>
  </div>
</main>
