<div class="container-fluid">
  <div class="route-box bg-white">
    <div class="route-heading">
      <span class="route-header-text">Department Page </span>
    </div>
    <div>
      <div class="">
        <mat-tab-group>
          <mat-tab label="Staff members">
            <app-staff-table></app-staff-table>
          </mat-tab>
          <mat-tab label="Postings">
            <app-posting-table></app-posting-table>
          </mat-tab>
          <mat-tab label="Leave Requests">
            <app-leave-request-table></app-leave-request-table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
